
# Next.js
.next/
out/
.next/cache/

# Environment variables
.env*.local

# Production builds
dist/
build/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
